ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    list-style-type: none;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 50%;
    max-width: 25rem;
    border-radius: 20px;
    margin: 2rem auto;
    padding: 1px;
}

ul li {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    padding: 2rem 1rem;
    color: #111;
}

a {
    color: #111;
    text-decoration: none;
}



ul a:hover, ul a:active {
  color: #eca8b5;
}


h1 {
    color: #111;
    text-align: center;

    font-size: 48px;
    text-decoration: none;
}