.ul-style {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    list-style-type: none;
    background-color: #ffffff;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    width: 80%;
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    margin: 20px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
}

.ul-style-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    list-style-type: none;
    background-color: #ffffff;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    width: 60%;
    max-width: 30rem;
    border-radius: 10px;
    border: 1px solid black;
    margin: 2rem auto;
    padding: 1px;
}

.ul-style-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    list-style-type: none;
    background-color: #ffffff;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    width: 60%;
    max-width: 30rem;
    border-radius: 10px;
    border: 1px solid black;
    margin: 2rem auto;
    padding: 1px;
}

.ul-li {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    padding: 10px 15px;
    color: #111;
}

h1 {
    text-align: center;
    font-size: 1rem;
}

h2 {
    text-align: center;
    font-size: 0.8rem;
}

p {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;

}

form {
    margin: 0 auto;
    width:250px;
    }

button, input, optgroup, select, textarea {
    margin: 10px;
    }