{% extends 'base.html' %}

{% block title %} Элементы {% endblock %}

{% load static %}
{% load my_filter %}

{% block cssadd %}
<link rel="stylesheet" href="{% static 'horoscope_app/css/index.css' %}">
{% endblock %}


{% block content %}
{% include 'includes/navbar.html' %}
<h1>Элементы</h1>
<ul class="ul-style-2">
    {% for element in elements %}
        <li class='ul-li'><a class="btn btn-outline-dark" href="{% url 'get_sing_by_element_name' code=element.code %}">{{element.name}}</a></li>
    {% endfor %}
</ul>
{% endblock %}