{% extends 'base.html' %}

{% block title %}
    Меню
{% endblock %}

{% load static %}
{% load my_filter %}

{% block cssadd %}
<link rel="stylesheet" href="{% static 'horoscope_app/css/index.css' %}">
{% endblock %}


{% block content %}
{% include 'includes/navbar.html' %}
<h1>Знаки зодиака</h1>
<ul class="ul-style">
    {% for zodiac_sing in zodiaksing_list %}

        <li class='ul-li'><a class="btn btn-outline-dark" href="{% url 'sign_zodiac' code=zodiac_sing.code %}">{{zodiac_sing.name}}</a></li>

    {% endfor %}
</ul>
   
{% endblock %}