{% extends 'base.html' %}

{% block title %}
Поиск знака зодиака по дате
{% endblock %}

{% load static %}
{% load my_filter %}

{% block cssadd %}
<link rel="stylesheet" href="{% static 'horoscope/css/calendar.css' %}">
{% endblock %}


{% block content %}
{% include 'includes/navbar.html' %}
<h1>Поиск знака зодиака по дате</h1>
<form method="post">
    {% csrf_token %}
    {{ form.date_from }}
    {{ form.text }}
    <span>{{ error }}</span>
    <button type="submit" class="btn btn-success">Отправить</button>
</form>
{% endblock %}