{% extends 'base.html' %}


{% block title %}
{{sign.title}}
{% endblock %}

{% load static %}
{% load my_filter %}
{% block cssadd %}
<link rel="stylesheet" href="{% static 'horoscope/css/index.css' %}">
{% endblock %}

{% block content %}
{% include 'includes/navbar.html' %}
    <h1>{{ element.name }}</h1>
    <ul class="ul-style-1">
    {% for item in elements %}
        <li class='ul-li'><a class="btn btn-outline-dark" href="{% url 'sign_zodiac' code=item.code %}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}