{% extends 'base.html' %}


{% block title %}
{{sign.title}}
{% endblock %}

{% load static %}
{% load my_filter %}
{% block cssadd %}
<link rel="stylesheet" href="{% static 'horoscope/css/info.css' %}">
{% endblock %}

{% block content %}
{% include 'includes/navbar.html' %}
    <h1>{{description_zodiac|split|first}}</h1>
    {% if description_zodiac is None %}
        <h2>Неверный знак зодиака {{sign}}</h2>
    {% else %}    
        <h2>{{description_zodiac}}</h2>
    {% endif %}
    {% for z in zodiacs_sing %}
        <h3>{{z.description}}</h3>
    {% endfor %}


{% endblock %}